[Unit]
After=ntpd.service network-online.target
Requires=ntpd.service
Description=Untar Cassandra Container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/bin/cassandra-download
ExecStart=/usr/bin/systemd-machine-id-setup --root=/opt/cassandra/
