[Unit]
Description=Cassandra Stress Server
After=cassandra-container-creation.service
Requires=cassandra-container-creation.service

[Service]
Type=forking
PIDFile=/opt/cassandra/stressd.pid
ExecStart=/usr/bin/systemd-nspawn -D /opt/cassandra \
                              --share-system \
                              --capability=all \
                              --bind=/dev:/dev \
                              --bind=/dev/pts:/dev/pts \
                              --bind=/proc:/proc \
                              --user=root \
                              --keep-unit \
                              /opt/cassandra/tools/bin/cassandra-stressd start -h 127.0.0.1

Restart=always
RestartSec=30s
