[Unit]
Description=Cassandra Server
After=media-data.mount cassandra-container-creation.service
Requires=media-data.mount cassandra-container-creation.service

[Service]
ExecStart=/usr/bin/mkdir -p /media/data/cassandra
ExecStart=/opt/bin/cassandra-config-file /opt/cassandra/opt/cassandra/conf/cassandra.yaml
ExecStart=/usr/bin/systemd-nspawn -D /opt/cassandra \
                              --share-system \
                              --capability=all \
                              --bind=/dev:/dev \
                              --bind=/dev/pts:/dev/pts \
                              --bind=/proc:/proc \
                              --bind=/media/data/cassandra:/var/lib/cassandra \
                              --user=root \
                              --keep-unit \
                              /opt/cassandra/bin/cassandra -f

Restart=always
RestartSec=30s
